@import '../base/common.scss';
@import '../base/fonts.scss';
@import '../base/variables.scss';
@import './all-categories.scss';
@import './header.scss';
@import './mobile-menu.scss';
@import './paginations.scss';
@import './support.scss';
@import './pop-up.scss';
@import './shoplist.scss';
@import './shopping-list.scss';
@import './all-categories.scss';
@import './header.scss';
@import './main-section.scss';
@import './sign-up-form.scss';
@import './categories-menu.scss';
@import './dark-thema.scss';
@import './scrollUp.scss';
