.darkmode body {
  background-color: #202024;
  color: #fff;
}
.darkmode .header-svg {
  fill: #f3f3f3;
  stroke: #f3f3f3;
}
.darkmode .header-svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.darkmode .container-header {
  background-color: #111;
}

.darkmode .header-title {
  color: #fff;
}
.darkmode .burger-svg {
  fill: #ffffff;
  stroke: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
}
.darkmode .header-shoping-icon {
  fill: #ffffff;
  stroke: #ffffff;
}
.darkmode .container-header {
  border: 1.5px solid #fff;
}

.darkmode .popup-modal-close {
  fill: #ffffff;
  stroke: #ffffff;
}

.darkmode .see-more-btn {
  color: #fff;
  background: #111;
}

.darkmode .add-to-list-button {
  color: #fff;
  background: #111;
}
.darkmode .popup-modal {
  background-color: #111;
}

.darkmode .book-adding-text {
  color: rgba(255, 255, 255, 0.5);
}

.darkmode .book-author {
  color: #b4afaf;
}

.darkmode .empty-shopping-list-msg {
  color: rgba(255, 255, 255, 0.6);
}
.darkmode .best-sellers {
  color: #fff;
}

.darkmode .empty-shopping-list-msg {
  color: rgba(255, 255, 255, 0.6);
}
.darkmode .best-sellers {
  color: #fff;
}

.darkmode .sighup-container {
  
  background-color: #202024;
}

.darkmode .close-form-icon {
  stroke: #f6f6f6;
  fill: #f6f6f6;
}
.darkmode .name-input {
  border: 2px solid #f6f6f6;
  background-color: #111111;
  color: #f6f6f6;
}
.darkmode .name-input::placeholder {
  color: #f6f6f6;
}

.darkmode .email-input {
  border: 2px solid #f6f6f6;
  background-color: #111111;
  color: #f6f6f6;
}
.darkmode .email-icon {
  stroke: #f6f6f6;
  fill: #111111;
}

.darkmode .email-input::placeholder {
  color: #f6f6f6;
}
.darkmode .password-input {
  border: 2px solid #f6f6f6;
  background-color: #111111;
  color: #f6f6f6;
}
.darkmode .password-icon {
  stroke: #f6f6f6;
  fill: #111111;
}

.darkmode .password-input::placeholder {
  color: #f6f6f6;
}
.darkmode .signup-btn {
  background-color: #f6f6f6;
  color: #111111;
}
@media screen and (min-width: 768px){
 .darkmode .sighup-container {
    border: 2px solid #f6f6f6;
  }
}