.darkmode body {
  background-color: #202024;
  color: #fff;
}
.darkmode .header-svg {
  fill: #f3f3f3;
  stroke: #f3f3f3;
}
.darkmode .header-svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.darkmode .container-header {
  background-color: #111;
}

.darkmode .header-title {
  color: #fff;
}
.darkmode .burger-svg {
  fill: #ffffff;
  stroke: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
}
.darkmode .header-shoping-icon {
  fill: #ffffff;
  stroke: #ffffff;
}
.darkmode .container-header {
  border: 1.5px solid #fff;
}

.darkmode .popup-modal-close {
  fill: #ffffff;
  stroke: #ffffff;
}

.darkmode .see-more-btn {
  color: #fff;
  background: #111;
}

.darkmode .add-to-list-button {
  color: #fff;
  background: #111;
}
.darkmode .popup-modal {
  background-color: #111;
}

.darkmode .book-adding-text {
  color: rgba(255, 255, 255, 0.5);
}

.darkmode .book-author {
  color: #b4afaf;
}

.darkmode .empty-shopping-list-msg {
  color: rgba(255, 255, 255, 0.6);
}
.darkmode .best-sellers {
  color: #fff;
}
