.background-js {
  background: #eac645;
}
.dark {
  background-color: #160d0dfb;
  color: rgba(255, 255, 255, 0.6);
}
.header-svg-dark-theme:hover {
  fill: #fff;
  stroke: #fff;
}
.container-header {
  width: 100%;
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  transition: all 0.3s;
  position: fixed;
  width: 100%;
}

.container-header-dark {
  width: 100%;
  background-color: #111;
  border: 1.5px solid #fff;
  border-radius: 0 0 8px 8px;
  transition: all 0.3s;
  position: fixed;
  width: 100%;
}
.header-nav {
  display: none;
}

.header-main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.header-burger {
  display: flex;
}

.header-btn-wrapper {
  display: none;
}

.header-main {
  align-items: center;
  display: flex;
}

.header-link {
  align-items: center;
  gap: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  padding-right: 134px;
}

svg {
  margin: 0;
  padding: 0;
  display: block;
}

.header-title-home {
  border-radius: 36px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}

.header-title {
  /* font-family: 'DM Sans', sans-serif; */
  font-weight: 700;
  /* font-size: 14px; */
  /* line-height: 1.28571; */
  /* letter-spacing: -0.04em; */
  text-transform: uppercase;
  color: #111;
  /* margin-right: 6px; */
  gap: 10px;
}

.header-btn {
  display: flex;
  padding-left: 14px;
  gap: 92px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
  border: 1.5px solid #111;
  border-radius: 18px;
  width: 184px;
  height: 48px;
  background: #4f2ee8;
}
.header-list-list {
  align-items: center;
  display: flex;
}

.header-list {
  display: flex;
}

/* @media (min-width: 375px) {
  .header-main {
    max-width: 375px;
  }
} */

@media (min-width: 768px) {
  /* .header-main {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  } */

  .header-burger {
    display: none;
  }

  .header-btn-wrapper {
    display: flex;
  }

  .header-nav {
    display: flex;
  }
  .header-list {
    align-items: center;
    /* gap: 18px; */
    display: flex;
    flex-wrap: nowrap;
  }

  .header-link {
    padding-right: 40px;
  }

  .header-checkbox-thumb {
    margin-left: 75px;
  }
}

@media (min-width: 1440px) {
  /* .header-main {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  } */
  .header-link {
    padding-right: 74px;
  }
  .header-list {
    /* gap: 24px; */
  }
  .header-checkbox-thumb {
    margin-left: 720px;
  }
}
.header-svg-orn {
  stroke: none;
  /* fill: #f6f6f6; */
}

.header-checkbox-thumb {
  position: relative;
  width: 40px;
  height: 20px;
  background: linear-gradient(#4f2ee8 0%, #cdcdcd 100%);
  overflow: hidden;
  border-radius: 34px;
  margin-right: 24px;
}

.checkbox {
  appearance: none;
}

.theme-toggle {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-circle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background: linear-gradient(#fff 0%, #f7f7f7 100%);
  border-radius: 50%;
  transition: 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.checkbox:checked ~ .checkbox-circle {
  transform: translate(20px, -50%);
}

/*******/
