main {
    display: flex;
    padding-top: 84px;
}

.best-sellers-books-section {
    margin: 0 auto;
    width: 335px;
}

.best-sellers-header {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 119%;
    letter-spacing: -0.04em;
}

.best-sellers-header span {
    color: #4F2EE8;
}

.book-shelf-category {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #b4afaf;
}

.book-card-container {
    margin-bottom: 40px;
}

.book-card-img {
    margin-bottom: 14px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    height: 485px;

}

.book-card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
}

.book-card-author {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.04em;
    color: #b4afaf;
}

@media screen and (min-width: 767px) {

    main {
        /* display: flex; */
    }

    .best-sellers-books-section {
        width: 704px;
    }

    .book-shelf-container {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .book-card-container {
        width: 218px;
    }

    .book-card-img {
        height: 316px;
    }
}

@media screen and (min-width: 1440px) {
    main {
            display: flex;
            flex-direction: row;
        }
    .best-sellers-books-section {
        width: 996px;
    }

    .book-card-container {
        width: 180px;
    }

    .book-card-img {
        height: 306px;
    }
}