main {
  //   display: flex;
  padding-top: 94px;
}

.not-marked {
  display: none;
}
.see-more-btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  align-items: center;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  padding: 14px 28px;
  width: 124px;
  height: 46px;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  // flex-basis: calc((100% - 20px) / 3);
}

.home-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.best-sellers-books-section {
  margin: 0 auto;
  width: 335px;
  padding-bottom: 120px;
}

.best-sellers-header {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 119%;
  letter-spacing: -0.04em;
}

.best-sellers-header span {
  color: #4f2ee8;
}

.book-shelf-category {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
}

.book-card-container {
  margin-bottom: 40px;
}

.book-card-img {
  margin-bottom: 14px;
  border-radius: 8px;
  height: 485px;
  width: 100%; /* Set width to 100% to occupy the width of the container */
  height: auto; /* Allow the height to adjust proportionally */
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

.book-card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
}

.book-card-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

@media screen and (min-width: 768px) {
  main {
    /* display: flex; */
  }

  .best-sellers-books-section {
    width: 704px;
  }

  .book-shelf-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .book-card-container {
    width: 218px;
  }

  .book-card-img {
    height: 316px;
  }
  .book-card-container {
  }
  .book-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  main {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
  }
  .book-grid {
    gap: 24px;
  }
  .book-card-container {
    width: 100%;
    // flex-basis: calc((100% - 24px) / 5);
  }
  .home-box {
    flex-direction: row;
    gap: 40px;
  }

  .best-sellers-books-section {
    width: 996px;
  }

  .book-card-container {
    width: 180px;
  }

  .book-card-img {
    height: 306px;
  }
}
