.mobile-menu-wrapper {
  position: fixed;
  padding-top: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
   background-image: url(../img/background.png), radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
   background-position: 100% 100%,50%;
  background-size: 100%, cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  transition: transform .2s ease-in-out;
margin-left: auto;
  margin-right: auto;
}
.mobile-btn {
  width: 184px;
  height: 48px;
  display: flex;
  margin-top: 26px;
  margin-left: 20px;
  gap: 90px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
  border: 1.5px solid #111;
  border-radius: 18px;
  border: none;

  background: #4f2ee8;
}
.shopping-svg {
  fill: #fff;
  stroke: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  // height: 95%;
}
.mobile-menu-header {
  display: flex;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  // padding-top: 20px;
  // padding-left: 20px;
  padding: 18px 20px;
  justify-content: space-between;

  align-items: center;

  width: 100%;
  // min-height: 64px;
  z-index: 999;
  background-color: #FFF;
  
  
}
.mobile-menu-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}


.mobile-menu-close-btn {
  border: none;
  border-radius: 50%;
  background-color: #FFF;
}

.mobile-menu-close-btn-icon {
  border: none;
  border-radius: 50%;
}

.mobile-menu-content {
  display: flex;
  padding-top: 110px;
  flex-direction: column;
  align-items: center;

  height: 100%;
}
.mobile-menu-btn-content-home {
  display: flex;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
}
.mobile-home {
width: 72px;
  height: 34px;
  background-color: #EAC645;
  border-radius: 36px
}

.mobile-menu-btn-content-shoplist {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.header-mob-burger-nav {
  display: flex;
  align-items: center;
}

/* Стилі для активного класу */
/* .mobile-menu-btn-content-home.active,
.mobile-menu-btn-content-favorites.active {
  background: white;
  color: black;
} */

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// .header-checkbox-thumb {
//   position: relative;
//   width: 40px;
//   height: 20px;
//   background: linear-gradient(#4f2ee8 0%, #cdcdcd 100%);
//   overflow: hidden;
//   border-radius: 34px;
//   margin-right: 24px;
// }

// .checkbox {
//   appearance: none;
// }

// .theme-toggle {
//   position: absolute;
//   top: 0;
//   left: 0;

//   width: 100%;
//   height: 100%;
//   cursor: pointer;
// }

// .checkbox-circle {
//   position: absolute;
//   top: 50%;
//   transform: translate(0, -50%);
//   width: 20px;
//   height: 20px;
//   background: linear-gradient(#fff 0%, #f7f7f7 100%);
//   border-radius: 50%;
//   transition: 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
// }

// .checkbox:checked ~ .checkbox-circle {
//   transform: translate(20px, -50%);
// }
