@import './paginations.scss';
.shop-list-container {
padding-top: 20px;
padding-left: 20px;
}

@media screen and (min-width: 320px) {
    .shop-list-container {
        width: 320px;
        padding: 0 16px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .shop-list-container {
        width: 768px;
        padding: 0 16px;
        margin: 0 auto;
    }
}
@media (min-width: 1158px) {
    .shop-list-container {
        width: 1158px;
        padding: 0 16px;
        margin: 0 auto;
    }
}

.shop-list-title {
 font-size: 36px;
    line-height: 1.11;
    text-align:left;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #111111;
}

.shop-list-title-el {
color: #4F2EE8;
}

.shop-list-container-message {
    margin: 0 auto;
    width: 265px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 320px) {
    .shop-list-container-message {
        width: 320px;
        padding: 0 16px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .shop-list-container-message {
        width: 768px;
        padding: 0 16px;
        margin: 0 auto;
    }
         .section {
             padding-bottom: 0;
         }
}
@media (min-width: 1158px) {
    .shop-list-container-message {
        width: 1158px;
        padding: 0 16px;
        margin: 0 auto;
    }
   
}


.shop-list-container-message-text{
   font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}



@media screen and (min-width: 768px) {
    .shop-list-container-message-img {
        width: 322px;
        height: 241px;
        padding: 0 16px;
        margin: 0 auto;
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
};

