.section-container {
  height: 100%;
  width: 100%;
  background-color: #4f2ee8;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 999;
}
/* =========normal theme================== */
.sighup-container {
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 10px;
  border-radius: 18px;
  width: 335px;
  height: 384px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f6f6f6;
  padding: 10px 20px 10px 20px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.signup-form {
  margin: auto;
  width: 295px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.close-form-btn {
  width: 28px;
  height: 28px;
  position: relative;
  left: 280px;
  background-color: transparent;
  border-color: transparent;
}
.close-form-icon {
  stroke: #111111;
  fill: #111111;
}
.name-input {
  border: 2px solid #111111;
  border-radius: 40px;
  padding-left: 16px;
  width: 295px;
  height: 50px;
  background-color: #f6f6f6;
  color: #111111;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.name-input::placeholder {
  color: #111111;
}
.signup-email {
  position: relative;
}
.email-input {
  border: 2px solid #111111;
  border-radius: 40px;
  padding-left: 16px;
  width: 295px;
  height: 50px;
  background-color: #f6f6f6;
  color: #111111;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  position: relative;
}
.email-icon {
  stroke: #111111;
  fill: #f6f6f6;
  position: absolute;
  top: 30%;
  left: 260px;
}

.email-input::placeholder {
  color: #111111;
}
.signup-password {
  position: relative;
}
.password-input {
  border: 2px solid #111111;
  border-radius: 40px;
  padding-left: 16px;
  width: 295px;
  height: 50px;
  background-color: #f6f6f6;
  color: #111111;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.password-icon {
  stroke: #111111;
  fill: #f6f6f6;
  position: absolute;
  top: 30%;
  left: 260px;
}

.password-input::placeholder {
  color: #111111;
}
.signup-btn {
  border-radius: 40px;

  width: 294px;
  height: 50px;
  background-color: #111111;
  color: #f6f6f6;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.sighup-links {
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.signup-link-active {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  background-color: transparent;
  color: #4f2ee8;
  border: transparent;
}
.signin-link-active{
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: underline;
  color: #4f2ee8;
  border: transparent;
  background-color: transparent;
}
.signup-link-unactive{
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration-skip-ink: none;
 
  color: grey;
  border: transparent;
}
.signin-link-unactive {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: transparent;
  color: grey;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .sighup-container {
    border-radius: 18px;
    width: 579px;
    height: 516px;
    border: 2px solid #111111;
  }
  .log-in-container {
    height: 395 !important;
  }
  .close-form-btn {
    width: 28px;
    height: 28px;
    position: relative;
    left: 520px;
  }
  .signup-form {
    width: 579px;
    
  }

  .name-input {
    width: 499px;
    height: 64px;
  }

  .email-input {
    width: 499px;
    height: 64px;
  }
  .email-icon {
    top: 35%;
    left: 460px;
  }
  .password-input {
    width: 499px;
    height: 64px;
  }
  .password-icon {
    top: 35%;
    left: 460px;
  }
  .signup-btn {
    width: 499px;
    height: 64px;
  }
  .signup-form{
    margin-left: 18px;
  }
}