.section-container {
  background-color: #4f2ee8;
  display: flex;
  justify-content: center;
}
/* =========normal theme================== */
.sighup-container {
  display: flex;
  flex-direction: column;

  gap: 10px;
  border-radius: 18px;
  width: 335px;
  height: 384px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f6f6f6;
  padding: 10px 20px 10px 20px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.signup-form {
  width: 295px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.close-form-btn {
  width: 20px;
  height: 20px;
  position: relative;
  left: 280px;
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
}
.close-form-icon {
  stroke: #111111;
  fill: #111111;
}
.name-input {
  border: 2px solid #111111;
  border-radius: 40px;
  padding-left: 16px;
  width: 295px;
  height: 50px;
  background-color: #f6f6f6;
  color: #111111;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.name-input::placeholder {
  color: #111111;
}
.email-input {
  border: 2px solid #111111;
  border-radius: 40px;
  padding-left: 16px;
  width: 295px;
  height: 50px;
  background-color: #f6f6f6;
  color: #111111;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  position: relative;
}
.email-icon {
  stroke: #111111;
  fill: #f6f6f6;
}

.email-input::placeholder {
  color: #111111;
}
.password-input {
  border: 2px solid #111111;
  border-radius: 40px;
  padding-left: 16px;
  width: 295px;
  height: 50px;
  background-color: #f6f6f6;
  color: #111111;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.password-icon {
  stroke: #111111;
  fill: #f6f6f6;
}

.password-input::placeholder {
  color: #111111;
}
.signup-btn {
  border-radius: 40px;

  width: 294px;
  height: 50px;
  background-color: #111111;
  color: #f6f6f6;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.sighup-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.signup-link {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4f2ee8;
}
.sighin-link {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: grey;
}
@media screen and (min-width: 768px) {
  .sighup-container {
    border-radius: 18px;
    width: 579px;
    height: 516px;
    border: 2px solid #111111;
  }
  .close-form-btn {
    width: 28px;
    height: 28px;
    position: relative;
    left: 520px;
  }
  .signup-form {
    width: 579px;
  }

  .name-input {
    width: 499px;
    height: 64px;
  }
  .email-input {
    width: 499px;
    height: 64px;
  }
  .password-input {
    width: 499px;
    height: 64px;
  }
  .signup-btn {
    width: 499px;
    height: 64px;
  }
  .sighup-container-dark {
    border: 2px solid #f6f6f6;
  }
  .close-form-btn-dark {
    width: 28px;
    height: 28px;
    position: relative;
    left: 520px;
  }
  .signup-form-dark {
    width: 579px;
  }
  .name-input-dark {
    width: 499px;
    height: 64px;
  }
  .email-input-dark {
    width: 499px;
    height: 64px;
  }
  .password-input-dark {
    width: 499px;
    height: 64px;
  }
  .signup-btn-dark {
    width: 499px;
    height: 64px;
  }
}

/* ===============dark theme ====================== */
.sighup-container-dark {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 18px;
  width: 335px;
  height: 384px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #202024;
  padding: 10px 20px 10px 20px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.signup-form-dark {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.close-form-btn-dark {
  width: 20px;
  height: 20px;
  position: relative;
  left: 280px;
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
}
.close-form-icon-dark {
  stroke: #f6f6f6;
  fill: #f6f6f6;
}
.name-input-dark {
  border: 2px solid #f6f6f6;
  border-radius: 40px;
  padding: 16px 173px 16px 24px;
  width: 295px;
  height: 50px;
  background-color: #111111;
  color: #f6f6f6;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.name-input-dark::placeholder {
  color: #f6f6f6;
}
.email-input-dark {
  border: 2px solid #f6f6f6;
  border-radius: 40px;
  padding: 16px 173px 16px 24px;
  width: 295px;
  height: 50px;
  background-color: #111111;
  color: #f6f6f6;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  position: relative;
}
.email-icon-dark {
  stroke: #f6f6f6;
}

.email-input-dark::placeholder {
  color: #f6f6f6;
}
.password-input-dark {
  border: 2px solid #f6f6f6;
  border-radius: 40px;
  padding: 16px 173px 16px 24px;
  width: 295px;
  height: 50px;
  background-color: #111111;
  color: #f6f6f6;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.password-icon-dark {
  stroke: #f6f6f6;
}

.password-input-dark::placeholder {
  color: #f6f6f6;
}
.signup-btn-dark {
  border-radius: 40px;

  width: 294px;
  height: 50px;
  background-color: #f6f6f6;
  color: #111111;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.sighup-links-dark {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.signup-link-dark {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4f2ee8;
}
.sighin-link-dark {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: grey;
}
