<section class="section">
  <div class="to-topchik"></div>
  <div class="container">
    <div class="home-box">
      <div class="home-aside">
        <div class="js-books"></div>
        <div class="book-category__container">
          <!-- <div class="book-category__box">
            <ul class="book-category__list">
              <li class="book-category__list-item">All categories</li>
            </ul>
          </div> -->
          <div class="categories">
            <ul class="categories_list">
              <li>
                <button
                  type="button"
                  class="category-btn all-categories-btn active-category"
                  name="allcategories"
                >
                  All categories
                </button>
              </li>
              <!-- >>>>>>> html inserted with handleCategoryClick.js <<<<<<< -->
            </ul>
          </div>
        </div>
        <div class="support">
          <h2 class="head-title">
            Support Ukraine
            <svg class="icon-ua" width="20" height="32">
              <use href="./img/symbol.svg#icon-ua"></use>
            </svg>
          </h2>

          <div class="swiper mySwiper">
            <ul class="swiper-wrapper support-list"></ul>
          </div>

          <button
            type="button"
            class="next swiper-next"
            aria-label="Swipe next"
          >
            <span class="icon-container">
              <svg class="icon-down" width="20" height="32">
                <use href="./img/symbol.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </div>
      </div>
      <section class="best-sellers-books-section">
        <h5 class="best-sellers-header">Best Sellers <span>Books</span></h5>
        <div class="main-page-books-section"></div>
      </section>
    </div>
  </div>
  <button type="button" class="back-to-top hidden" aria-label="Scroll to top">
    <svg class="button-icon button-icon--arrow" width="24" height="25">
      <use href="./img/symbol.svg#icon-chevron"></use>
    </svg>
  </button>
</section>
<!-- <div class="book-shelf">
      <p class="book-shelf-category"></p>
      <div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
      </div>
    </div> -->
