<section class="section">
  <div class="container">
    <div class="book-category__container">
      <div class="book-category__box">
        <ul class="book-category__list">
          <li class="book-category__list-item">All categories</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="render-books-section">
  <h5>Best Sellers <span>Books</span></h5>
  <div class="main-page-books-section">
    <!-- <div class="book-shelf">
      <p class="book-shelf-category"></p>
      <div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
      </div>
    </div> -->
  </div>
</section>
