<section class="section">
  <div class="container">
    <div class="js-books"></div>
    <div class="book-category__container">
      <div class="book-category__box">
        <ul class="book-category__list">
          <li class="book-category__list-item">All categories</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="support">
    <h2 class="head-title">
      Support Ukraine
      <svg class="icon-ua" width="20" height="32">
        <use href="../img/symbol.svg#icon-ua"></use>
      </svg>
    </h2>

    <div class="swiper mySwiper">
      <ul class="swiper-wrapper support-list"></ul>
    </div>

    <button type="button" class="next swiper-next" aria-label="Swipe next">
      <span class="icon-container">
        <svg class="icon-down" width="20" height="32">
          <use href="../img/symbol.svg#icon-down"></use>
        </svg>
      </span>
    </button>
  </div>
</section>
<section class="best-sellers-books-section">
  <h5 class="best-sellers-header">Best Sellers <span>Books</span></h5>
  <div class="main-page-books-section">
    <!-- <div class="book-shelf">
      <p class="book-shelf-category"></p>
      <div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
      </div>
    </div> -->
  </div>
</section>