<div class="mobile-menu-wrapper visually-hidden">
  <div class="mobile-menu">
    <div class="mobile-menu-header">
      <a class="mobile-menu-logo" href="./index.html">
        <svg class="header-svg-orn" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-logo-4"></use>
        </svg>
        <svg class="header-svg" width="78" height="14" aria-label="">
          <use href="./img/symbol-defs.svg#icon-Bookshelf-1"></use>
        </svg>
      </a>

      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-btn-icon" width="28" height="28">
          <use href="../img/symbol-defs.svg#icon-lock"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-content">
      <a class="mobile-menu-btn-content-home" href="../index.html"> Home </a>

      <a
        class="mobile-menu-btn-content-favorites-shoplist"
        href="./partials/shoplist.html"
        >Shopping list
        <svg width="20" height="20" aria-label="">
          <use href="./img/symbol-defs.svg#icon-shopping"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
