<div class="mobile-menu-wrapper visually-hidden">
  <div class="mobile-menu">
    <div class="mobile-menu-header">
      <a class="mobile-menu-logo" href="./index.html">
        <svg class="header-svg-orn" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-logo-4"></use>
        </svg>
        <svg class="header-svg" width="78" height="14" aria-label="">
          <use href="./img/symbol-defs.svg#icon-Bookshelf-1"></use>
        </svg>
      </a>
      <div class="header-mob-burger-nav">
        <div class="header-checkbox-thumb">
          <input type="checkbox" id="checkbox" class="checkbox" />
          <label class="theme-toggle" for="checkbox"></label>
          <div class="checkbox-circle"></div>
        </div>
        <button class="mobile-menu-close-btn" type="button">
          <svg class="mobile-menu-close-btn-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-x-close-vad"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="mobile-btn-wrapper">
      <button class="mobile-btn header-btn" type="button">
        Sign up
        <svg width="20" height="20" aria-label="">
          <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-content">
      <a class="mobile-menu-btn-content-home mobile-home" href="./index.html">
        Home
      </a>
      <a
        class="mobile-menu-btn-content-home mobile-menu-btn-content-shoplist"
        href="./shopping-list.html"
        >Shopping list
        <svg class="header-shoping-icon" width="20" height="20" aria-label="">
          <use href="./img/symbol-defs.svg#icon-shopping"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
