<div class="section">
    <div class="popup-modal-background hidden">
        <div class="popup-modal">
            <button class="popup-modal-close-button" type="button">
                <svg width="28" height="28" class="popup-modal-close">
                    <use href="./img/sprite.svg#icon-x-close-vad"></use>
                </svg>
            </button>
            <div class="book-info-container">
                <img class="book-image" src="#" alt="#" />
                <div class="book-information">
                    <p class="book-title-pop"></p>
                    <p class="book-author"></p>
                    <p class="book-description"></p>
                    <div class="book-store-links">
                        <a class="amazon-link" target="_blank" href="#">
                            <img class="change-color fix-amazon add-hover" srcset="
                  ./img/amazon-1x-min.png 1x,
                  ./img/amazon-2x-min.png 2x
                " src="../img/amazon-1x-min.png" alt="Amazon Logo" />
                        </a>
                        <a class="applebooks-link" target="_blank" href="#">
                            <img class="change-color" srcset="
                  ./img/openbook-1x-min.png 1x,
                  ./img/openbook-2x-min.png 2x
                " src="../img/amazon-1x-min.png" alt="Openbook Logo" />
                        </a>
                        <a class="bookshop-link" target="_blank" href="#">
                            <img class="change-color" srcset="
                  ./img/bookshop-1x-min.png 1x,
                  ./img/bookshop-2x-min.png 2x
                " src="../img/bookshop-1x-min.png" alt="Bookshop Logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="button-center">
                <button class="add-to-list-button" type="button">
                    <span class="button-popup-text">ADD TO SHOPPING LIST</span>
                </button>
                <p class="book-adding-text hidden">
                    Congratulations! You have added the book to the shopping list. To
                    delete, press the button "Remove from the shopping list".
                </p>
            </div>
        </div>
    </div>
</div>