<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Модальне вікно -->
    <div class="modal" id="myModal">
        <div class="modal-content">
            <!-- Зміст модального вікна -->
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Book Details</h2>
            </div>
            <div class="modal-body">
                <!-- Зміст книги -->
                <div id="bookDetails"></div>
                <!-- Кнопки додавання та видалення з Shopping list -->
                <button id="addToShoppingList">Add to Shopping List</button>
                <button id="removeFromShoppingList">Remove from Shopping List</button>
            </div>
        </div>
    </div>
<script src="../js/shoplist.js"></script>
</body>
</html>