<!-- Модальне вікно -->
    <div class="modal" id="myModal">
        <div class="modal-content">
            <!-- Зміст модального вікна -->
                <button class="close" data-modal-close="" aria-label="Close modal"> <svg
                        class="close-btn-icon" width="24" height="24">
                        <use href="/icons.9d45231e.svg#icon-x-close"></use>
                    </svg> </button>
                
            </div>
            <div class="modal-body">
                <!-- Зміст книги -->
                <div id="bookDetails"></div>
                <!-- Кнопки додавання та видалення з Shopping list -->
                <button id="addToShoppingList">Add to Shopping List</button>
            </div>
        </div>
    </div>
<script src="../js/shoplist.js"></script>
