 @import 'node_modules/modern-normalize/modern-normalize.css';
/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
    color: inherit;
}

img {
  font-size: 0;
  max-width: 100%;
  height: auto;
  display: block;
}

picture {
  font-size: 0;
  display: block;

  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

 /* Base  Components  */

 body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.section {
  padding-top: 40px;
  padding-bottom: 80px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 767.98px) {
  .group-thanks {
    display: none;
  }
}


@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .section {
    padding-bottom: 100px;
  }
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-aside {
    display: flex;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .home-aside {
    display: block;
  }
  .home-box {
    display: flex;
    gap: 40px;
  }
}

.main-info {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .main-info {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}
.group-thanks {
  margin-left: 50px;
  width: max-content;
  font-size: 18px;
  font-weight: 500; 
   white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 5s steps(50, end) infinite;
}


@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 340px;
  }
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
     to {
       width: 340px;
     }
}

.sign:hover, .sign:focus {
  color: var(--color-blue-component);
}

@media screen and (max-width: 348px) {
  
}